<a href="https://colab.research.google.com/github/hibameo/python_-dic_methods/blob/main/dic_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
student = {
    "name": "hiba",
    "age": "18",
    "city": "karachi"
}

print(student.get("salary","apna kam s kam rakho"))

apna kam s kam rakho

In [ ]:
student = {
    "name": "hiba",
    "age": "18",
    "city": "karachi"
}

print(student.keys())

dict_keys(['name', 'age', 'city'])

In [ ]:
student = {
    "name": "hiba",
    "age": "18",
    "city": "karachi"
}


for key in student.keys():
  print(key)

name
age
city

In [ ]:
student = {
    "name": "hiba",
    "age": "18",
    "city": "karachi"
}


print(student.values())

dict_values(['hiba', '18', 'karachi'])

In [ ]:
student = {
    "name": "hiba",
    "age": "18",
    "city": "karachi"
}

print(student.items())

dict_items([('name', 'hiba'), ('age', '18'), ('city', 'karachi')])

In [ ]:
student = {
    "name": "hiba",
    "age": "18",
    "city": "karachi"
}



print(student.items())

for items in student.items():
  print(items)

dict_items([('name', 'hiba'), ('age', '18'), ('city', 'karachi')])
('name', 'hiba')
('age', '18')
('city', 'karachi')

In [ ]:
student = {
    "name": "hiba",
    "age": "18",
    "city": "karachi"
}

student.clear()

print(student)

{}